#colour.white
  #iPhone.on
    b.lock
      span.btn-outer
    b.rotation.btn-outer
    b.volume.up
      span.btn-outer
    b.volume.down
      span.btn-outer
    span.strip.top-left
    span.strip.top-right
    span.strip.bottom-left
    span.strip.bottom-right
    span.camera-front
      span
    span.speaker
      span.inner
        span
          | .............................
          br
          | .............................
          br
          | .............................
    b.home
      span
    .inner-1
      .inner-2
        .screen
          .screen-inner
            #multitasking.app
              .app-list
                .panel.one
                  .open-home
                  .open-phone
                .panel.two
                  .open-messages
                  .open-mail
            #siri.hide
            #search.app
            #search-keyboard
            #pull-down
              b.handle-btn
            #widgets-menu
              ul.widgets
                li.airplane.off
                li.wifi
                li.bluetooth
              ul.widgets-sub
                li.dnd.off
                li.rotation-lock.off
              b#hide-widgets-menu
            .status-bar
              ul.signal
                li
                li
                li
                li
                li
              span.network Text
              .icons
                i.airplane.off
                i.wifi
                i.bluetooth
              .time
                span#text-hour
                | :
                span#text-minute
              .battery
                span.percentage 100%
                span.charge
                i
            #messages.app
              .bg
              #messages-output
                span.sender Test out Squirrel! It's your personal companion investor that hooks up to your Capital One account.
              .header
              input#messages-input(placeholder='iMessage')
              .submit.messages-send
              .keyboard
                ul.row1
                  li(data-value='q')
                    span Q
                  li(data-value='w')
                    span W
                  li(data-value='e')
                    span E
                  li(data-value='r')
                    span R
                  li(data-value='t')
                    span T
                  li(data-value='y')
                    span Y
                  li(data-value='u')
                    span U
                  li(data-value='i')
                    span I
                  li(data-value='o')
                    span O
                  li(data-value='p')
                    span P
                ul.row2
                  li(data-value='a')
                    span A
                  li(data-value='s')
                    span S
                  li(data-value='d')
                    span D
                  li(data-value='f')
                    span F
                  li(data-value='g')
                    span G
                  li(data-value='h')
                    span H
                  li(data-value='j')
                    span J
                  li(data-value='k')
                    span K
                  li(data-value='l')
                    span L
                ul.row3
                  li.btn.shift
                    i.shift
                  li(data-value='z')
                    span Z
                  li(data-value='x')
                    span X
                  li(data-value='c')
                    span C
                  li(data-value='v')
                    span V
                  li(data-value='b')
                    span B
                  li(data-value='n')
                    span N
                  li(data-value='m')
                    span M
                  li.btn.delete
                    i.delete ×
                ul.row4
                  li.btn.numbers .?123
                  li.btn.space(data-value=' ') space
                  li.btn.return.messages-send return